h1, h2, 
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'poppins' sans-serif;
}

* {
margin: 0;
padding: 0;
height: 100%;
}

body {
  height:100%;
  position: absolute;
  overflow: hidden;
}

.app-container {
  min-width: 100vw;
  height: 100%;
  background-color: #292E31;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  overflow: hidden;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  background-color:#1E2124;
  height: 5rem;
}

.header-item-sm {
  width: 15%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-big {
  width: 70%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proxima Nova', sans-serif;
  color: #008CDD;

}

.header-item-big input {
  width: 60%;
  height: 4rem;
  background: none;
  border:none;
  margin: auto;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 23px;
  color: #008CDD;
}

.headerAmount {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 72px;
  margin: 0px;
  padding: 0px;
  color: #008CDD;
}

.label-sm {
  margin: -15px;
  padding: -20px;
  font-size: 16px;
  font-family: 'Proxima Nova', sans-serif;
  color: #6F7C82;
}

.bar-area {
min-height: 150px;
width: 80vw;
/* border: 1px solid white; */
margin-top: 10px;
display: flex;
justify-content: center;
align-items:center;
}

.bar {
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  height: 8px;
  background-color: #6F7C82;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0px);
  box-shadow: 0px 80px 20px rgba(30, 33, 36, 0);
  transition: 0.25s ease-in-out;
  border-bottom: 3px solid #52585a ;
  border-top: 2px solid #bcc9ce ;
}

.innerbar{
  max-width: 400px;
  height: 8px;
  background-color: #1E2124;
}

.risen {
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  height: 8px;
  background-color: #6F7C82;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-20px);
  box-shadow: 6px 70px 30px rgba(8, 9, 10, 1);
  transition: 0.25s ease-in-out;
  border-bottom: 3px solid #52585a ;
  border-top: 2px solid #bcc9ce ;

}

.clamp {
  width: 8px;
  height: 30px;
  background-color:#008CDD;
  border-radius: 2px;
  position: relative;
  
}

.clamp-styling {
  width: 4px;
  height: 30px;
  background-color: #4ba9d4;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.left {
  transform: translateX(-50px);
}

.right {
  transform: translateX(50px);
}

.plate-45 {


background-color: #3BCEAC;
position:absolute;
border-radius: 30px;
}

.plate-35 {
 

  background-color: #3BCEAC;
  position:absolute;
  border-radius: 30px;
  }

  .plate-25 {

    background-color: #3BCEAC;
    position:absolute;
    border-radius: 30px;
    }
    .plate-10 {
      background-color: #3BCEAC;
      position:absolute;
      border-radius: 30px;
      }

      .plate-5 {
        width: 5px;
        height: 40px;
        background-color: #3BCEAC;
        position:absolute;
        border-radius: 30px;
        }
    
  

.left-plate {
  transform: translateX(-80px);
}

.right-plate {
  transform: translate(80px);
}

.plateArea {
  min-height: 125px;
  width: 90vw;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 15px;
  }

  .plate {
    width: 60px;
    height: 60px;
    border: 2px solid #008CDD;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #23272A;
    transition: 0.35s;


  }
  

  .selected-plate {
    width: 65px;
    height: 65px;
    background-color: #008CDD;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
    box-shadow: 0px 10px 10px #23272A;
    transition: 0.35s;

  }

  .plate h3, .selected-plate h3 {
    color: #FFFFFF;
    font-family: 'Proxima Nova', sans-serif;
    text-align: center ;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  .btn-Area {
    min-height: 80px;
    width: 80vw;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    }

    .btn {
      width: 140px;
      height: 44px;
      border: 2px solid #008CDD;
      background: none;
      border-radius: 5px;
      font-size: 15px;
      color: #FFFFFF;
      font-family: 'Proxima Nova', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      user-select: none;

    }

    .inactive {
      width: 140px;
      height: 44px;
      background-color: #6F7C82;
      border:none;
      border-radius: 5px;
      font-size: 15px;
      color: #23272A;
      font-family: 'Proxima Nova', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

    }


  .rep-Area {
    min-height: 80px;
    width: 80vw;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 35px;
    }

    .activeround {
      width: 50px;
      height: 50px;
      border-radius: 60px;
      border: none;
      background-color: #008CDD;
      color: #FFFFFF;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  .inactiveRound{
      width: 50px;
      height: 50px;
      border-radius: 60px;
      border: none;
      background-color: #6F7C82;
      color: #23272A;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .vertical-stack {
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
    }

    .rep-inactive {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 45px;
      padding: 0;
      margin: 0;
      display: block;
      color:#6F7C82;
    }

    .vertical-stack p {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      padding: 0px;
      margin: 0px;
      display: block;
      color: #6F7C82;
      margin: -10px;
  
    }

    .vertical-stack h2 {
      font-family: 'Proxima Nova', sans-serif;
      display:flex;
      align-items:center;
      justify-content: center;
      margin-top: 12px;
  
    }
    .rep-active{
      font-family: 'Proxima Nova', sans-serif;
      font-size: 45px;
      padding: 0;
      margin: 0;
      display: block;
      color:#008CDD;
    }

    .log-set-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 3rem;
  padding: 30px;
  background-color: #1E2124;

      }

      .log-set-sm {
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2px;
      }

      .log-set-lg {
        width: 34%;
        

      }

      .modal {
        display:flex;
        width: 100vw;
        height: 0vh;
        background-color: #1E2124;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 1s;
        
        
      }

      .modal-show {
        display:flex;
        width: 100vw;
        height: 65%;
        background-color: #1E2124;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 1s;
        align-items: center
        
        
      }

      

      .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
      }

      .modal-header h4 {
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 25px;
        text-align: center;
      }

      .modal-header button {
        background: none;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        position: absolute;
        right: 30px;
      }

      .log-area {
        display: flex;
        min-width: 375px;
        max-width: 500px;
        min-height: 400px;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
        padding: 0px;
      }

      .table-header {
        display: flex;
        min-width: 375px;
        max-width: 500px;
        height: auto;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        padding: 40px;
      }


      .modal-header h2 {
        color: #6F7C82;
        font-family: 'Proxima Nova', sans-serif;
        
      }

      .table-row {
       display: flex;
       justify-content: center;
       align-items: center; 
       width: 100%;
      }

      .table-column {
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
      }

      .name {
        min-width: 150px;
        position: sticky;
      
      }
      .otherinfo {
        min-width: 80px;
        position: sticky;
      }
      

      .list-item {
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Proxima Nova', sans-serif;
        text-align: center;;
      }

      .header-item {
        color: #6F7C82;
        font-family: 'Proxima Nova', sans-serif;
        text-align: center;
        font-size: 12px;
        min-width: 80px;
       
      }

      .view {
        width: auto;
        height: 38px;
        background: none;
        border: none;
        font-size: 14px;
        color: #008CDD;
        right: 20px;
        bottom: 20px;
        margin: 0px 15px;
        border-radius: 10px;
        text-decoration: underline;


      }

      .overlay {
        width: 220px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        left: 30vw;
        top: 26vh;
        bottom: 20px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 20px;;
        color:  #008CDD;
        font-family: 'Proxima Nova', sans-serif;
      font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        opacity:1;
        
      }

      .no-overlay {
        width: 220px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 30vw;
        top: 33vh;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;;
        color:  #008CDD;
        font-family: 'Proxima Nova', sans-serif;
        opacity: 0;
          font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        
      }




      .warning {
        width: 300px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        left: 23%;
        top: 26vh;
        bottom: 20px;
        background-color: rgba(0, 0, 0, 0.95);
        border-radius: 20px;;
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
      font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        opacity:1;
        
      }

      .warning p {
        font-family: 'Proxima Nova' sans-serif;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .no-warning p {
        font-family: 'Proxima Nova' sans-serif;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .no-warning {
        width: 300px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 23%;
        top: 33vh;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 20px;;
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
        opacity: 0;
          font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        
      }

    
      @keyframes shake {
        0%   {transform: translateX(5px)};
        25%  {transform: translateX(-10px)};
        50%  {transform: translateX(5px)};
        75%  {transform: translateX(-10px)};
        100% {transform: translateX(0px)}
       
        
        
      }

      .error-state {
        animation-name: shake;
        animation-duration: 100ms ;
        transition: ease-in-out;
        animation-iteration-count: infinite;
      }

      .no-error {
        transition: ease-in-out;
      }

      .style-45 {
        width: 20px;
        height: 135px;
        position: absolute;
      }


      .style-35 {
        width: 25px;
        height: 110px;
        position: absolute;
      }

      .style-25 {
        width: 25px;
        height: 90px;
        position: absolute;
      }

      .style-10 {
        width: 25px;
        height: 70px;
        position: absolute;
      }

      .style-5 {
        width: 25px;
        height: 55px;
        position: absolute;
      }

      
      .modal-header-e {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
        height: auto;
        width: 100%;
        margin: 20px 0px;
      }

      .modal-show-e {
        display:flex;
        width: 100%;
        height: 65%;
        background-color: #1E2124;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 0.4s;
        align-items: center
        
        
      }

      
      .modal-e{
        display:flex;
        width: 100%;
        height: 0vh;
        background-color: #1E2124;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 0.4s;
        align-items: center;;
        
        
      }
      .modal-header-left {
        width: 80%;
        display: flex;
      }

      .modal-header-right: {
        width: 20%;
        display: flex;
      }

      .modal-header-e h2 {
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 25px;
        text-align: center;
      }

      .modal-header-e button {
        background: none;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        right: 30px;
      }

      .modal-e-body {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .modal-e-content {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        overflow-y: scroll;
        margin: 20px 0px;
        gap: 5px;
       
      }

      .exercise-container {
        width: 90%;
        min-height: 50px;
        border-radius: 10px;
        max-width: 600px;
        border: 1.5px solid #30373a;
        margin: 0px 20px;
        display: flex;
      }

      .exercise-container h3 {
        font-family: 'Proxima Nova', sans-serif;
        color:#bcc9ce;
        margin: 20px;
        font-size: 18px;
      }


      select {

        width: 38%;
        max-width: 300px;
        height: 38px;
        background-color: #2b2f30;
        color: #c7d4da; 
        border: none;
        padding: 5px;     
      }
  
  

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 


    .warning {
      width: 300px;
      height: 70px;
      display: flex;
      align-items:center;
      justify-content: center;
      position: absolute;
      left: 0;
      top: 26vh;
      bottom: 20px;
      background-color: rgba(0, 0, 0, 0.95);
      border-radius: 20px;;
      color: #FFFFFF;
      font-family: 'Proxima Nova', sans-serif;
    font-size: 22px;
      transition: 0.45s;
      -webkit-transition: 0.45s;
      opacity:1;
      
    }

    .warning p {
      font-family: 'Proxima Nova' sans-serif;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .no-warning p {
      font-family: 'Proxima Nova' sans-serif;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .no-warning {
      width: 300px;
      height: 70px;
      display: flex;
      align-items:center;
      justify-content: center;
      position: absolute;
      bottom: 20px;
      left: 20%;
      top: 33vh;
      background-color: rgba(0, 0, 0, 0);
      border-radius: 20px;;
      color: #FFFFFF;
      font-family: 'Proxima Nova', sans-serif;
      opacity: 0;
        font-size: 22px;
      transition: 0.45s;
      -webkit-transition: 0.45s;
      
    }

}