h1, h2, 
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', 'poppins' sans-serif;
}

* {
margin: 0;
padding: 0;
}

.app-container {
  min-width: 100vw;
  min-height: 100vh;
  background-color: #292E31;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
  overflow: none;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0px 3
}

.header-item-sm {
  width: 20%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-big {
  width: 60%;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Proxima Nova', sans-serif;
  color: #008CDD;

}

.headerAmount {
  font-family: 'Proxima Nova', sans-serif;
  font-size: 72px;
  margin: 0px;
  padding: 0px;
  color: #008CDD;
}

.label-sm {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-family: 'Proxima Nova', sans-serif;
  color: #6F7C82;
}

.bar-area {
min-height: 150px;
width: 80vw;
/* border: 1px solid white; */
margin-top: 10px;
display: flex;
justify-content: center;
align-items:center;
}

.bar {
  width: 100%;
  height: 8px;
  background-color: #6F7C82;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plateArea {
  min-height: 125px;
  width: 90vw;
  margin: 0px 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 15px;
  }

  .plate {
    width: 60px;
    height: 60px;
    border: 2px solid #008CDD;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0px);
    box-shadow: 0px 0px 0px #23272A;
    transition: 0.35s;


  }

  .selected-plate {
    width: 65px;
    height: 65px;
    background-color: #008CDD;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-30px);
    box-shadow: 0px 10px 10px #23272A;
    transition: 0.35s;

  }

  .plate h3, .selected-plate h3 {
    color: #FFFFFF;
    font-family: 'Proxima Nova', sans-serif

  }

  .btn-Area {
    min-height: 80px;
    width: 80vw;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 8px;
    }

    .btn {
      width: 140px;
      height: 44px;
      border: 2px solid #008CDD;
      background: none;
      border-radius: 5px;
      font-size: 15px;
      color: #FFFFFF;
      font-family: 'Proxima Nova', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      user-select: none;

    }

    .inactive {
      width: 140px;
      height: 44px;
      background-color: #6F7C82;
      border:none;
      border-radius: 5px;
      font-size: 15px;
      color: #23272A;
      font-family: 'Proxima Nova', sans-serif;
      display: flex;
      align-items: center;
      justify-content: center;
      user-select: none;

    }


  .rep-Area {
    min-height: 80px;
    width: 80vw;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 35px;
    }

    .activeround {
      width: 50px;
      height: 50px;
      border-radius: 60px;
      border: none;
      background-color: #008CDD;
      color: #FFFFFF;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }


  .inactiveRound{
      width: 50px;
      height: 50px;
      border-radius: 60px;
      border: none;
      background-color: #6F7C82;
      color: #23272A;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .vertical-stack {
      display:flex;
      flex-direction: column;
      align-items:center;
      justify-content: center;
    }

    .rep-inactive {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 45px;
      padding: 0;
      margin: 0;
      display: block;
      color:#6F7C82;
    }

    .vertical-stack p {
      font-family: 'Proxima Nova', sans-serif;
      font-size: 16px;
      padding: 0px;
      margin: -10px;
      display: block;
      color: #6F7C82;
  
    }

    .rep-active{
      font-family: 'Proxima Nova', sans-serif;
      font-size: 45px;
      padding: 0;
      margin: 0;
      display: block;
      color:#008CDD;
    }

    .log-set-container {
      min-height: 80px;
      width: 80vw;
      margin: 0px 20px;
      display: flex;
      justify-content: center;
      align-items:center;
      gap: 35px;
      margin-top: 20px;
      }

      .modal {
        display:none;
        width: 100vw;
        height: 0vh;
        background-color: #1E2124;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 1s
        
        
      }

      .modal-show {
        display:flex;
        width: 100vw;
        height: 60vh;;
        background-color: #1E2124;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        position: absolute;
        bottom: 0px;
        flex-direction: column;
        transition: 1s;
        align-items: center
        
        
      }

      .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
      }

      .modal-header h4 {
        color: #FFFFFF;
        font-family: 'Proxima Nova', sans-serif;
        font-size: 25px;
        text-align: center;
      }

      .modal-header button {
        background: none;
        border: none;
        color: #FFFFFF;
        font-size: 20px;
        position: absolute;
        right: 30px;
      }

      .log-area {
        display: flex;
        min-width: 375px;
        max-width: 500px;
        min-height: 400px;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
        padding: 40px;
      }

      .modal-header h2 {
        color: #6F7C82;
        font-family: 'Proxima Nova', sans-serif;
        
      }

      .table-row {
       display: flex;
       justify-content: center;
       align-items: center; 
       width: 100%;
      }

      .table-column {
        min-height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-collapse: collapse;
      }

      .name {
        min-width: 150px;
      }
      .otherinfo {
        min-width: 80px;
      }
      

      .list-item {
        color: #FFFFFF;
        font-size: 16px;
        font-family: 'Proxima Nova', sans-serif;
        text-align: center;;
      }

      .header-item {
        color: #6F7C82;
        font-family: 'Proxima Nova', sans-serif;
        text-align: center;
        font-size: 12px;
        min-width: 80px;
       
      }

      .view {
        width: 150px;
        height: 38px;
        background-color: #008CDD;
        border: none;
        font-size: 14px;
        color: #FFFFFF;
        right: 20px;
        bottom: 20px;
        margin: 0px 15px;
        border-radius: 10px;


      }

      .overlay {
        width: 220px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        left: 30vw;
        top: 26vh;
        bottom: 20px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 20px;;
        color:  #008CDD;
        font-family: 'Proxima Nova', sans-serif;
      font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        opacity:1;
        
      }

      .no-overlay {
        width: 220px;
        height: 70px;
        display: flex;
        align-items:center;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 30vw;
        top: 33vh;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 20px;;
        color:  #008CDD;
        font-family: 'Proxima Nova', sans-serif;
        opacity: 0;
          font-size: 22px;
        transition: 0.45s;
        -webkit-transition: 0.45s;
        
      }



  

